
<!DOCTYPE html>
<html ng-app="study">
<head>
	<meta charset="utf-8">
	<title>AngularJS study</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		// var app = angular.module('study', []);

		// app.controller('test', function($scope, $http){
			// $http.get('a.txt', {
			// 	// params: {a:1, b: 2},
			// 	// responseType: 'json'
			// }).success(function(res){
			// 	console.log(res);
			// }).error(function(){
			// 	alert(0);
			// });

		// 	$http.get('a.txt', {
		// 		params: {a: 1, b: 2}
		// 	}).then(function(res){
		// 		console.log(res.data);
		// 	}, function(){
		// 		alert('error');
		// 	});
		// });
		// app.controller('test', function($scope, $http){
		// 	$scope.a = 100;
		// 	$scope.b = 99;
		// 	console.log(arguments.length);
		// 	$scope.alert = function(v){
		// 		alert(v);
		// 	}
		// });

		// app.controller('table', function($scope, $http){
		// 	$scope.datas = [
		// 		{name: '第1方连锁店', title: '1啊水电费流口水的肌肤连锁店会计法', time: 1437727675556},
		// 		{name: '第2方连锁店', title: '2啊水电 锁店会计法', time: 1447727655556},
		// 		{name: '第3方连锁店', title: '3啊水电费 的肌肤连锁店会计法', time: 1427727635556}
		// 	];
		// 	$scope.a = true;
		// })

		angular.module('study', []).controller('testCon', function($scope){
			$scope.a = 100;
		});
	</script>
</head>
<body>
	<div ng-controller="testCon">
		<input type="text" ng-model="a|currency">
		<h1>{{a|currency}}</h1>

		<input type="text" ng-model="b">
		<h1>{{b}}</h1>
	</div>
	<!-- <div ng-bind="a+b"></div> -->
	<!-- <h1 ng-bind="a+b+'cccc'"></h1> -->
	<!-- <h2>{{a}}+{{b}}={{a+b}}</h2> -->

	<!-- <ul ng-init="json={bb: 1, b: true, 22: [1,2,3], 3: 'abc'}"> -->
	<!-- <ul ng-init="users=[{name: '毛毛', age: 22}, {name: '涛涛', age: 12}]">
		<li ng-repeat="(k,v) in users">{{k}}=>{{v.name}},{{v.age}}</li>
	</ul> -->

	<!-- <input type="button" value="按钮" ng-click="a=!a">
	<table ng-show="a" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>name</th>
				<th>title</th>
				<th>time</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="v in datas">
				<td>{{v.name}}</td>
				<td>{{v.title}}</td>
				<td>{{v.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
		</tbody>
	</table> -->
</body>
</html>
