<!DOCTYPE html>
<html ng-app="weibo">
<head>
	<meta charset="utf-8">
	<title>weibo AngularJS study</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <style type="text/css">
    	.container {
    		/*max-width: 1000px !important;*/
    	}
    </style>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		var app = angular.module('weibo', []);

		app.controller('test', function($scope, $http){
			// $scope.replies = [
			// 	{id: 1, content: '一步一步教你如何解锁被盗的iPhone 6', time: 1477735332551, acc: 1, ref: 22 },
			// 	{id: 2, content: '一步一步教解锁被盗的iPhone 6', time: 1477735932551, acc: 100, ref: 2 },
			// 	{id: 3, content: '一步一步教解的iPhone 6', time: 1477785932551, acc: 50, ref: 12 }
			// ]
			$scope.h1 = '微博onLine'

			$http.get('weibo.txt').success(function(res){
				$scope.replies = res;
			}).error(function(){
				alert('error');
			});

			$scope.submitMsg = function(){
				if ($scope.msg) {
					$scope.replies.unshift({content: $scope.msg, time: new Date().getTime(), acc: 0, ref: 0});
					$scope.msg = '';
				} else {
					alert('请输入内容');
				}
			}
		});
	</script>
</head>
<body ng-controller="test" class="bg-inverse">
<h1 ng-cloak class="ng-cloak text-muted text-xs-center mt-1">{{h1}}</h1>
	<div class="container py-1">
		<header class="bg-faded p-1 rounded clearfix">
			<textarea class="d-block w-100 rounded" rows="3" ng-model="msg"></textarea>
			<button class="btn btn-sm btn-success float-xs-right mt-1 px-1 font-weight-bold" ng-click="submitMsg()"><i class="fa fa-paper-plane"></i> 发言</button>
		</header>
		<section class="bg-faded mt-1 p-1 rounded">
			<article class="card p-1" ng-repeat="reply in replies">
				<p class="font-weight-bold">{{reply.content}}</p>
				<div class="clearfix">
					<span class="float-xs-left">{{reply.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
					<div class="float-xs-right">
						<span class="btn btn-sm fa fa-thumbs-o-up text-success" title="顶"> {{reply.acc}}</span>
						<span class="btn btn-sm fa fa-thumbs-o-down text-danger" title="踩"> {{reply.ref}}</span>
						<!-- <span class="btn btn-sm fa fa-trash-o" title="删除"></span> -->
					</div>
				</div>
			</article>
		</section>
	</div>
	
</body>
</html>
